<html>
    <head>
        <title>Livros RPG</title>
        
        <link rel="stylesheet" type="text/css" href="./../Css/bootstrap/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../Css/views/home.css">

        <script src="../Scrips/jquery.js"></script>
        <script src="../Scrips/bootstrap/bootstrap.bundle.js"></script>
        <script src="../Scrips/bootstrap/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="jumbotron">
            <div>
                <h1 class="container">Livro de RPG</h1>
            </div>
            <div class="container">
                <nav id="menu">
                    <ul class="menu">
                        <li>
                            <a href="#">Livro</a>
                            <ul>
                                <li><a href="./Views/Livros/CadastroLivros.html">Cadastro</a></li>
                                <li><a href="./Livros/ListaLivros.html">Lista</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Idioma</a>
                            <ul>
                                    <li><a href="#">Cadastro</a></li>
                                      <li><a href="#">Lista</a></li>
                                </ul>
                        </li>
                        <li>
                            <a href="#">Tipo</a>
                            <ul>
                                    <li><a href="#">Cadastro</a></li>
                                    <li><a href="#">Lista</a></li>
                                </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </body>
</html>